_G.Yes = true
while _G.Yes do
    wait()
local JAS = game.Players.LocalPlayer.Character.HumanoidRootPart
local location = CFrame.new(2396, 900, -1954)
local humanoid = game.Players.LocalPlayer.Character.Humanoid
JAS.CFrame = location
end
